# flyctl launch added from MyNBA/.gitignore
MyNBA/**/.env

# flyctl launch added from MyNBA/frontend/.gitignore
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
MyNBA/frontend/node_modules
MyNBA/frontend/.pnp
MyNBA/frontend/**/.pnp.js

# testing
MyNBA/frontend/coverage

# production
MyNBA/frontend/build

# misc
MyNBA/frontend/**/.DS_Store
MyNBA/frontend/**/.env.local
MyNBA/frontend/**/.env.development.local
MyNBA/frontend/**/.env.test.local
MyNBA/frontend/**/.env.production.local

MyNBA/frontend/**/npm-debug.log*
MyNBA/frontend/**/yarn-debug.log*
MyNBA/frontend/**/yarn-error.log*
fly.toml
