.scores-container {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: #f9f9f9;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.score {
    margin-bottom: 5px;
}

.odds {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}